@font-face {
  font-family: 'Roboto Slab';
  src: url('../fonts/RobotoSlab-Bold.woff2') format('woff2'),
      url('../fonts/RobotoSlab-Bold.woff') format('woff'),
      url('../fonts/RobotoSlab-Bold.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Roboto Slab';
  src: url('../fonts/RobotoSlab-Regular.woff2') format('woff2'),
      url('../fonts/RobotoSlab-Regular.woff') format('woff'),
      url('../fonts/RobotoSlab-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
}
.top-line ul {
  list-style: none;
  column-gap: 25px;
}
.linea a:hover {
  color: #fd8300;
}
.top-line a {
  color: #b1b1d2;
  text-decoration: none;
  transition: all .5s;
}
.linea {
  position: relative;
  padding:  15px 0;
}
.second-sub li{
  position: relative;
}
.second-sub{
  position: relative;
}
.second-sub > li:hover > a:before{
  border-color: #fff;
  transform: translateY(-50%) rotate(225deg);
}
.second-sub > li > a:before{
  content: "";
  position: absolute;
  top: 50%;
  right: 09px;
  width: 7px;
  height: 7px;
  border-top: 2px solid #8e8e91;
  border-left: 2px solid #8e8e91;
  transform: translateY(-50%) rotate(135deg);
  transition: all 1s ease;
}
.subsub,
.second-sub{
  position: absolute;
  top: 100%;
  left: 0;
  min-width: 125px;
  background-color: #e4e4ec;
}
.subsub,
.second-sub{
  border-radius: 3px;
}
.subsub li+li,
.second-sub li+li{
  border-top: 1px solid #8e8e91;
}
.subsub{
  top: 0;
  left: calc(100% + 4px);
}
.subsub::before{
  content: "";
  position: absolute;
  top: 0;
  left: -4px;
  border-left: 4px solid transparent;
  height: 100%;
}
.svg-top ul{
  column-gap: 30px;
}
.top-line {
  background-color: #1f1f56;
}
.insta svg,
.twiter svg,
.faceb svg{
  fill: #fff;
  transition: all 1s ease;
}
thead{
  border-radius: 3px;
  background-color: #1f1f56;
  font-size: 14px;
  line-height: 24px;
  color: #ffffff;
  font-weight: 700;
  font-family: "Roboto Slab";
}
tbody tr:hover td{
  background-color: #fd8300;
  color: #fff;
}
tbody tr > td{
  transition: all 1s steps(50);
}
tr+tr{
  border-top: 1px solid #cdcddd;
}
th{
  padding: 9px;
  border-top: 1px solid #274569;
  border-right: 1px solid #274569;
}
table{
  margin-bottom: 27px;
}
table{
  border-collapse: collapse;
  width: 100%;
  overflow: hidden;
  border-radius: 3px;
}
.text{
  font-size: 14px;
  line-height: 24px;
  color: #666666;
  font-family: "Arial";
}
.name{
  font-size: 14px;
  line-height: 24px;
  color: #666666;
  font-family: "Arial";
  text-align: left;
}
tbody{
  padding: 10px;
  background-color: #e4e4ec;
}
td{
  padding: 11px;
  text-align: center;
}
td+td{
  border-left: 1px solid #cdcddd;
}
.nazva{
  text-align: left;
}
.cina-two{
  text-align: right
}
.cina-table{
  text-align: right;
  font-size: 14px;
  line-height: 24px;
  color: #666666;
  font-family: "Arial";
}
.insta:hover > svg,
.twiter:hover > svg,
.faceb:hover > svg{
  fill: #fd8300;
}
.wrapper {
  margin: 0 auto;
  max-width: 960px;
}
.top-line{
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1;
}
.header{
  padding-top: 60px;
  box-shadow: 0 0 2px 2px rgba(0,0,0,0.1);
}
.vidstup{
  margin-bottom: 20px;
}
.email-top::before{
  position: relative;
}
.email-top::before{
  content: "";
  width: 1px;
  height: 51px;
  background-color: #e4e4ec;
  position: absolute;
  top: 50%;
  left: -45px;
  transform: translateY(-20%);
}
.header-contacts{
  padding: 17px 0;
}
.skype-top,
.email-top,
.phone-top{
  position: relative;
}
.tel-top a {
  color: #25252c;
  font-weight: bold;
  padding: 10px;
  text-decoration: none;
  transition: all .5s;
}
.skype-top svg,
.email-top svg,
.phone-top svg{
  fill: #fd8300;
  position: absolute;
  left: -20px;
  top: 50%;
  transform: translateY(-50%);
  transition: all 1s ease;
}
.skype-top:hover svg,
.email-top:hover svg,
.phone-top:hover svg{
  fill: #1f1f56;
}
.tel-top p:hover > a{
  color: #fd8300;
}
.tel-top p{
  margin-bottom: 10px;
}
.main{
  column-gap: 28px;
}
.main-block{
  padding: 37px 0 47px;
}
.contacts-top a {
  color: #25252c;
  padding: 10px;
  text-decoration: none;
  transition: all .5s;
}
.contacts-top p{
  margin-bottom: 10px;
}
.contacts-top a:hover{
  color: #fd8300;
}
.button-top {
  padding: 14px;
}
.button-top a {
  font-size: 16px;
  line-height: 24px;
  color: #25252c;
  font-weight: bold;
  text-decoration: none;
  transition: all .5s;
  display: block;
  border-radius: 25px;
  background-color: #ffffff;
  border: 2px solid #fd8300;
  padding: 11px;
}
.button-top p:hover > a{
  color: #fff;
  background-color: #fd8300;
}
.background-img {
  background: url(../img/Bgc.png) no-repeat center/cover;
  padding: 50px;
}
.img-text h2 {
  font-size: 30px;
  letter-spacing: 2px;
  line-height: 24px;
  text-transform: uppercase;
  color: #fff;
  font-family: "Roboto Slab";
  text-align: center;
  margin-bottom: 12px;
}
.img-text p {
  list-style: none;
  font-size: 14px;
  line-height: 24px;
  color: #fff;
  text-align: center;
  margin-bottom: 12px;
}
p.cina {
  font-size: 40px;
  line-height: 24px;
  color: #fd8300;
  font-weight: bold;
  padding: 5px;
}
h1 {
  font-size: 30px;
  line-height: 24px;
  color: #24242b;
  font-family: "Roboto Slab";
  text-align: left;
  margin-bottom: 20px
}
.pro-hataplus p {
  font-size: 14px;
  line-height: 24px;
  color: #666;
  margin-bottom: 10px;
}
.pro-nas a {
  text-decoration: underline;
  color: #fd8300;
  font-weight: bold;
  transition: all 1s ease ;
  
}
.pro-nas a:hover{
  color: #1f1f56;
  transform: scale(1,1);
}
hr{
  width: 100%;
  margin: 30px 0;
  border: none;
  border-top: 1px solid #e4e4ec;
}
.cina span {
  font-size: 24px;
  line-height: 24px;
  color: #fd8300;
  font-weight: bold;
}
p.proektu{
  font-size: 24px;
  color: #24242b;
  font-weight: 700;
  font-family: "Roboto Slab";
  margin-bottom: 20px
}
.dim1 a{
  font-size: 14px;
  line-height: 24px;
  color: #1f1f56;
  font-weight: bold;
  text-decoration: none;
}
.dim1 p{
  font-size: 13px;
  color: #9999a6;
  list-style: none;
}
.dim1:hover h2 > a{
  text-decoration: underline;
}
.dim2 a{
  font-size: 14px;
  line-height: 24px;
  color: #1f1f56;
  font-weight: bold;
  text-decoration: none; 
}
.dim2 p{
  font-size: 13px;
  color: #9999a6;
  list-style: none;
}
.dim2:hover h2 > a{
  text-decoration: underline;
}
.dim3 a{
  font-size: 14px;
  line-height: 24px;
  color: #1f1f56;
  font-weight: bold;
  text-decoration: none;
}
.dim3 p{
  font-size: 13px;
  color: #9999a6;
  list-style: none;
}
.dim3:hover h2 > a{
  text-decoration: underline;
}
aside{
  min-width: 220px;
}
aside p{
  padding: 10.5px 16px;
  font-size: 16px;
  line-height: 24px;
  color: #fff;
  font-weight: 700;
  font-family: "Roboto Slab";
  background-color: #1f1f56;
  border-radius: 3px 3px 0 0 ;
}
.menu  ul li{ 
  border-radius: 30px;
}
nav{
  position: sticky;
  top: 60px;
}
.menu a{
  padding: 10.5px 16px;
  display: block;
  background-color: #e4e4ec;
  font-size: 14px;
  line-height: 24px;
  color: #25252c;
  text-decoration: none;
  transition: all .5s;
}
.submenu{
  display: none;
  list-style: none;
}
.menu li:hover > .submenu{
  display: block;
}
.menu li:hover >a{
  background-color: #fd8300;
  color: #fff;
}
.menu{
  list-style: none;
}
.menu > li+li{
  border-top: 1px solid #cdcddd;
  border-bottom: 1px solid #cdcddd;
}
.skype-under svg,
.email-under svg,
.phone-under svg{
  fill: #fd8300;
  position: absolute;
  left: -30px;
  top: 50%;
  transform: translateY(-60%);
  transition: all 1s ease;
}
.skype-under,
.email-under,
.phone-under{
  position: relative;
}
.skype-under:hover svg,
.email-under:hover svg,
.phone-under:hover svg{
  fill: #1f1f56;
}
.menu > li > a{
  position: relative;
}
.menu > li > a:before{
  content: "";
  position: absolute;
  top: 50%;
  right: 09px;
  width: 7px;
  height: 7px;
  border-top: 2px solid #8e8e91;
  border-left: 2px solid #8e8e91;
  transform: translateY(-50%) rotate(135deg);
  transition: all 1s ease;
}
.menu > li:hover > a::before {
  border-color: #fff;
  transform: translateY(-50%) rotate(225deg);
}
aside ul{
  border-radius: 0 0 3px 3px;
  overflow: hidden;
}
.submenu a{
  padding-left: 30px;
  color: #666;
}
.submenu li:hover >a{
  background-color: #cecedd;
  color: #666;
}
.underline{
  background-color: #ededf5;
  padding: 20px;
}
.underline-text a{
  font-size: 14px;
  line-height: 26px;
  color: #666;
  text-decoration: none;
  transition: all .5s;
}
.underline-text{
  list-style: none;
}
.phone-under a{
  font-size: 18px;
  line-height: 24px;
  color: #25252c;
  font-weight: bold;
  text-decoration: none;
  transition: all .5s;  
}
.phone-under p:hover > a{
  color: #fd8300;
}
.contacts-under a{
  font-size: 16px;
  line-height: 24px;
  color: #25252c;
  text-decoration: none;
  transition: all .5s;
}
.phone-under p{
  margin-bottom: 10px;
}
.contacts-under p:hover > a{
  color: #fd8300;
}
.contacts-under p{
  margin-bottom: 10px;
}
.underline-text li:hover > a{
  color: #fd8300;
}
.footer{
  background-color: #dcdce6;
  padding: 10px 0;
}
.footer-text{
  font-size: 13px;
  line-height: 18px;
  color: #9999a6;
  font-family: "Arial";
  text-align: center;
}
.main-text h2{
  font-size: 24px;
  line-height: 24px;
  color: #24242b;
  font-weight: 700;
  padding: 23px 0;
  font-family: "Roboto Slab";
}
.main-text{
  font-size: 14px;
  line-height: 24px;
  color: #666666;
  margin-bottom: 22px;
  font-family: "Arial";
}
.under-tables{
  font-size: 13px;
  line-height: 21px;
  color: #666666;
  font-family: "Arial";
  margin-bottom: 23px;
}
.cikavo a{
  font-size: 14px;
  line-height: 24px;
  text-decoration: underline;
  color: #fd8300;
  font-weight: bold;
  font-family: "Arial";
  transition: all 1s ease;
  margin-bottom: 34px;
}
.cikavo a:hover{
  color: #1f1f56;
}
.dim4 a{
  font-size: 14px;
  line-height: 24px;
  color: #1f1f56;
  font-weight: bold;
  text-decoration: none;
}
.dim4{
  font-size: 13px;
  color: #9999a6;
  list-style: none;
}
.dim4:hover h2 > a{
  text-decoration: underline;
}
.doma{
  margin-bottom: 46px;
}
.second-sub,
.subsub{
  display: none;
  list-style: none;
}
ul.second-sub li a,
ul.subsub li a{
  font-size: 12px;
  letter-spacing: 2px;
  line-height: 24px;
  font-family: "Arial";
  color: #25252c;
}
.second-sub {
  display: none;
  position: absolute;
  list-style: none;
  border-radius: 3px;
  top: calc(100% + 5px);
  left: 0;
}
.second-sub:before {
  content: "";    
  position: absolute;
  border-top: 5px solid transparent;
  top: -5px;
  left: 0;
  width: 100%;
  height: 5px;
}
ul.subsub li:hover > a,
ul.second-sub li:hover > a{
  color: #fff;
}
.subsub > li:hover,
.second-sub > li:hover{
  background-color: #fd8300;
  border-radius: 3px 3px 0 0;
}
.subsub ul > li:hover,
.second-sub ul > li:hover{
  background-color: #fd8300;
  border-radius: 0 0 3px 3px;
}
.subsub ul > li:first-child,
.second-sub ul > li:first-child{
  transition: all 1s ease;
}
.subsub li,
.second-sub li{
  transition: all 1s ease;
  padding: 3px;
}
.line-text li:hover > .second-sub,
.second-sub li:hover > .subsub{
  display: block;
}
.contacts-middle{
  font-size: 24px;
  line-height: 24px;
  color: #24242b;
  font-weight: 700;
  font-family: "Roboto Slab";
  margin-bottom: 27px;
}
header{
  margin-bottom: 4;
}
.div{
  margin-bottom: 41px;
}
.numb h2{
  font-size: 14px;
  line-height: 24px;
  color: #24242b;
  font-weight: 700;
  font-family: "Roboto Slab";
  margin-bottom: 19px;
}
.numb p{
  font-size: 14px;
  line-height: 21px;
  color: #666666;
  font-family: "Arial";
  margin-bottom: 14px;
}
.tel-middle a{
  font-size: 18px;
  line-height: 24px;
  color: #25252c;
  font-weight: bold;
  text-decoration: none;
  transition: all .5s;
}
.tel-middle p:hover > a{
  color: #fd8300;
}
.tel-middle p{
  margin-bottom: 10px;
  text-align: left;
}
.gmail a{
  font-size: 16px;
  line-height: 24px;
  text-decoration: underline;
  color: #25252c;
  font-family: "Arial";
  transition: all 1s ease;
}
.gmail a:hover{
  color: #fd8300;
}
.konsul h2{
  font-size: 14px;
  line-height: 24px;
  color: #24242b;
  font-weight: 700;
  font-family: "Roboto Slab";
  margin-bottom: 19px;
}
.thirty-contact{
  column-gap: 140px;
}
.konsul p{
  font-size: 14px;
  line-height: 21px;
  color: #666666;
  font-family: "Arial";
  margin-bottom: 4px;
}
.second-numb a{
  font-size: 18px;
  line-height: 24px;
  color: #25252c;
  font-weight: bold;
  font-family: "Arial";
  transition: all 1s ease;
  text-decoration: none;
  text-align: left;
}
.second-numb a:hover{
  color: #fd8300;
}
.dir-numb a{
  font-size: 18px;
  line-height: 24px;
  color: #25252c;
  font-weight: bold;
  font-family: "Arial";
  transition: all 1s ease;
  text-decoration: none;
  text-align: left; 
}
.dir-numb a:hover{
  color: #fd8300;
}
.rekvi h2{
  font-size: 14px;
  line-height: 24px;
  color: #24242b;
  font-weight: 700;
  font-family: "Roboto Slab";
  margin-bottom: 19px;  
}
.rekvi p{
  font-size: 13px;
  line-height: 21px;
  color: #666666;
  font-family: "Arial";
 }
 .sv{
  margin-bottom: 20px;
 }
 .map{
  position: relative;
  overflow: hidden;
  width: 30vw;
  min-height: 350px;
 }
 iframe{
  position: absolute;
  top: -71px;
  left: 0;
  border: none;
  width: 100%;
  height: 100%;
}
.value{
  width: 100%;
  padding: 12px 25px;
  border-radius: 3px;
  background-color: #ffffff;
  border: 1px solid #c5c5d4;
  margin-bottom: 9px;
  font-size: 13px;
  line-height: 21px;
  font-style: italic;
  font-family: "Arial";
}
.inputs p{
  min-width: 230px;
}
.thirty-contact{
  margin-bottom: 74px;
} 
.inputs{
  column-gap: 28px;
}
.texts{
  width: 100%;
  padding: 10px;
  border-radius: 3px;
  background-color: #ffffff;
  border: 1px solid #c5c5d4;
  margin-bottom: 9px;
  font-size: 13px;
  font-style: italic;
  font-family: "Arial";
}
.texte{
  padding: 10px;
  width: 100%;
  min-height: 100px;
  border-radius: 3px;
  background-color: #ffffff;
  border: 1px solid #c5c5d4;
  margin-bottom: 3px;
  font-size: 13px;
  line-height: 21px;
  font-style: italic;
  font-family: "Arial";
}
button{
  width: 140px;
  height: 41px;
  border-radius: 21px;
  background-color: #fd8300;
  border: none;
  transition: all 1s;
  cursor: pointer;
}
button:hover{
  background-color: #1f1f56;
}
.button-text{
  font-size: 14px;
  line-height: 24px;
  color: #ffffff;
  font-weight: bold;
  font-family: "Arial";
  text-align: center;
}
.form{
  font-size: 14px;
  line-height: 24px;
  color: #24242b;
  font-weight: 700;
  font-family: "Roboto Slab";
  margin-bottom: 21px;
}
.check{
  font-size: 13px;
  line-height: 21px;
  color: #666666;
  font-family: "Arial";
}
input[type=checkbox]:checked + span {
  top: 3px;
  left: 3%;
  width: 8px;
  height: 5px;
  border-top: 2px solid #1f1f56;
  border-right: 2px solid #1f1f56;
  transform: translate(-47%, -50%) rotate(135deg);
}
textarea ::placeholder{
  content: "";
  font-size: 13px;
  line-height: 21px;
  color: #9999a6;
  font-style: italic;
  font-family: "Arial";
}
input[type=checkbox]{
  appearance: none;
  width: 15px;
  height: 15px;
  border-radius: 3px;
  background-color: #ffffff;
  border: 1px solid #c5c5d4;
}
.parent {
  position: relative;
}
.parent span {
  position: absolute;
}
.flex-start{
  display: flex;
  justify-content: flex-start;
}
.flex-between {
  display: flex;
  justify-content: space-between;
}
.items-center {
  align-items: center;
}